body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpeg); }        
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }